* {
    color: rgb(14, 164, 47);
}

div .scoreboard {
    align-items: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    
}


.game {
    text-align: center;
    width: 500px;
    border: 10px solid rgb(7, 201, 101);
    padding: 40px;
    margin: 10px;
}


.score {
    font-size: 30px;
}

.title {
    font-size: 20px;
}